@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto';
    font-size: 18px;
}
table{
    border-collapse: collapse;  
    margin: 20px auto;  
}
th, td{
    border: 1px solid black;
    padding: 7px;
}
thead{
    background-color: bisque;
    text-align: center;
}
tr th:nth-child(1){
    width: 35px;
}
tr th:nth-child(2){
    width: 130px;
}
tr th:nth-child(3){
    width: 170px;
}
tr th:nth-child(4){
    width: 150px;
}
.pink td:last-child{
    background-color: rgb(252, 220, 226);
}
.green td:last-child{
    background-color: rgb(113, 212, 113);
}
.orange td:last-child{
    background-color: rgb(231, 176, 73);
}